:root {
	--pink: #f472b6;
	--cyan: #22d3ee;
	--yellow: #fef08a;
	--purple: #c084fc;
	--blue: #818cf8;
	--green: #34d399;
	--red: #f87171;
	--orange: #fdba74;
	--pink-bright: #ec4899;
	--cyan-bright: #38bdf8;
	--yellow-bright: #fde047;
	--purple-bright: #a78bfa;
	--blue-bright: #2563eb;
	--green-bright: #4ade80;
	--red-bright: #f43f5e;
	--orange-bright: #fb923c;
	--grey-50: #cdd6f4;
	--grey-100: #bac2de;
	--grey-200: #a6adc8;
	--grey-300: #9399b2;
	--grey-400: #7f849c;
	--grey-500: #6c7086;
	--grey-600: #585b70;
	--grey-700: #45475a;
	--grey-800: #313244;
	--grey-900: #1e1e2e;
	--grey-1000: #181825;
	--grey-1100: #11111b;
	--grey-1200: #0d0d14;
	--grey-1300: #09090b;
}
